:root {
  --color-primary-dark: #211F22;
  --color-primary-yellow: #F4B844;
  --color-secondary-dark: #000306;
  --color-secondary-orange: #E8B12B;
  --color-white: #E8F7FF;
  --font-bebas: 'Bebas Neue';
  --font-montserrat: 'Montserrat';
}